<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/fav/favicon-16x16.png">
    <meta name="theme-color" content="#ed970e">
    <link href="~/Content/mycss/css/shop-homepage.css" rel="stylesheet" />
    <link href="~/Content/mycss/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="~/Content/mycss/css/admin.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
</body>
</html>
